header {
  background-color: red;
  color: blue;
}

h1 {
  color: #00FFFF;
}

img {
  margin-left: 2em;
}
main {
  background-color: yellow;
  color: #004C1A;
  margin-left: 2em;
  margin-right: 2em;
}

ul {
  list-style: lower-greek;
  font-size: 1.75em;
  margin-left: 1em;
  border: 2px;
  border-style: dashed;
}

footer {
  background-color: green;
}