



/**************************************
      Header section
**************************************/

header {
  position: relative;
  width: 100%;
  padding: 2% 0% 0%;
}

header img {
  position: absolute;
  width: 2%;
  min-width: 32px;
  margin-left: 2%;
  margin-top: 1%;
}

header a {
  text-decoration: none;
}

header nav a.selected, header nav a:hover {
  color: #60FB67;
}

header h1 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}


/**************************************
      Navigation
**************************************/

header nav {
  background: #FAAB41;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

heaver nav a, header nav a:visited {
  color: #9c0404;
}

#current {
  background: #11e242;
}




/**************************************
      Footer section
**************************************/

footer {
  font-size: 0.8em;
  width: 100%;
  background: #FAAB41;
  text-align: center;
  padding: 1.2% 0% 1%;
}

footer ul { 
  list-style: none;
  padding: 0;
  margin: 0;
}