
/**************************************
      Body section
**************************************/

body {
  background-color: #E9E9E9;
  max-width: 1200px;
}



/**************************************
      Main content section
**************************************/

main h2 , main p {
  font-size: 1.35em;
  margin: 1%;
  padding: 0;
}

main p { font-size: 0.95em; }

main ul img {
  display: block;
  width: 75%;
  padding: 1em 0;
}

#rolling {
  background-image: url("../images/408px-Singly-linked-list.png");
  width: 408px;
  height: 41px;
}

#rolling:hover {
  background-image: url("../images/422px-Linked_List.png");
  width: 422px;
  height: 133px;
}


/**************************************
      Table content section
**************************************/

main table {
  border: 1px solid black;
}

main td {
  border: 1px solid black;
}