/* #1 */
h1 {
  color: red;
}

/* #2 */
h2 {
  color: blue;
}

/* #3 */
header {
  text-align: center;
}

/* #4 */
main h1 {
  color: green;
}

/* #5 */
main>ul li {
  font-weight: bold;
}

/* #6 */
ol>ul li {
  font-style: italic;
}

/* #7 */
ol>li {
  color: blue;
}

/* #8 */
* {
  font-family: Arial, sans-serif;
}

/* #9 */
h1+p::first-letter {
  font-size: 150%;
}

/* #10 */
p:last-of-type {
  background-color: pink;
}

/* #11 */
main h2:last-of-type {
  background-color: yellow;
}
/* #12 */
main h2:last-of-type {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* #13 */
main h2:last-of-type {
  padding: 20px;
}
/* #14 */
main h2:last-of-type {
  margin: 1.5em;
}