img {
  width: 100px;
  float: left;
}

main {
  width: 600px;
  float: left;
}

aside {
  width: 360px;
  float: right;
  background-color: #ddd;
}

footer {
  background-color: pink;
  clear: both;
}